In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

link - https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather

# Load the data

In [49]:
# load the data
df_energy = pd.read_csv('data/energy_dataset.csv')
df_weather = pd.read_csv('data/weather_features.csv')

# Inspect the data

## df_energy

In [50]:
print(df_energy.head())

                        time  generation biomass  \
0  2015-01-01 00:00:00+01:00               447.0
1  2015-01-01 01:00:00+01:00               449.0
2  2015-01-01 02:00:00+01:00               448.0
3  2015-01-01 03:00:00+01:00               438.0
4  2015-01-01 04:00:00+01:00               428.0

   generation fossil brown coal/lignite  generation fossil coal-derived gas  \
0                                 329.0                                 0.0
1                                 328.0                                 0.0
2                                 323.0                                 0.0
3                                 254.0                                 0.0
4                                 187.0                                 0.0

   generation fossil gas  generation fossil hard coal  generation fossil oil  \
0                 4844.0                       4821.0                  162.0
1                 5196.0                       4755.0                  158.0
2                 4857.0                       4581.0                  157.0
3                 4314.0                       4131.0                  160.0
4                 4130.0                       3840.0                  156.0

   generation fossil oil shale  generation fossil peat  generation geothermal  \
0                          0.0                     0.0                    0.0
1                          0.0                     0.0                    0.0
2                          0.0                     0.0                    0.0
3                          0.0                     0.0                    0.0
4                          0.0                     0.0                    0.0

   generation hydro pumped storage aggregated  \
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN

   generation hydro pumped storage consumption  \
0                                        863.0
1                                        920.0
2                                       1164.0
3                                       1503.0
4                                       1826.0

   generation hydro run-of-river and poundage  \
0                                      1051.0
1                                      1009.0
2                                       973.0
3                                       949.0
4                                       953.0

   generation hydro water reservoir  generation marine  generation nuclear  \
0                            1899.0                0.0              7096.0
1                            1658.0                0.0              7096.0
2                            1371.0                0.0              7099.0
3                             779.0                0.0              7098.0
4                             720.0                0.0              7097.0

   generation other  generation other renewable  generation solar  \
0              43.0                        73.0              49.0
1              43.0                        71.0              50.0
2              43.0                        73.0              50.0
3              43.0                        75.0              50.0
4              43.0                        74.0              42.0

   generation waste  generation wind offshore  generation wind onshore  \
0             196.0                       0.0                   6378.0
1             195.0                       0.0                   5890.0
2             196.0                       0.0                   5461.0
3             191.0                       0.0                   5238.0
4             189.0                       0.0                   4935.0

   forecast solar day ahead  forecast wind offshore eday ahead  \
0                      17.0                                NaN
1                      16.0                                NaN
2                       8.0                                NaN
3                       2.0                                NaN
4                       9.0                                NaN

   forecast wind onshore day ahead  total load forecast  total load actual  \
0                           6436.0              26118.0            25385.0
1                           5856.0              24934.0            24382.0
2                           5454.0              23515.0            22734.0
3                           5151.0              22642.0            21286.0
4                           4861.0              21785.0            20264.0

   price day ahead  price actual
0            50.10         65.41
1            48.10         64.92
2            47.33         64.48
3            42.27         59.32
4            38.41         56.04

In [51]:
df_energy.shape

(35064, 29)

In [52]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [53]:
# time should be datetime not string
type(df_energy['time'][0])

str

- *'time'* should be changed to datetime, as it represents time.

## df_weather

In [54]:
print(df_weather.head())

                      dt_iso city_name     temp  temp_min  temp_max  pressure  \
0  2015-01-01 00:00:00+01:00  Valencia  270.475   270.475   270.475      1001
1  2015-01-01 01:00:00+01:00  Valencia  270.475   270.475   270.475      1001
2  2015-01-01 02:00:00+01:00  Valencia  269.686   269.686   269.686      1002
3  2015-01-01 03:00:00+01:00  Valencia  269.686   269.686   269.686      1002
4  2015-01-01 04:00:00+01:00  Valencia  269.686   269.686   269.686      1002

   humidity  wind_speed  wind_deg  rain_1h  rain_3h  snow_3h  clouds_all  \
0        77           1        62      0.0      0.0      0.0           0
1        77           1        62      0.0      0.0      0.0           0
2        78           0        23      0.0      0.0      0.0           0
3        78           0        23      0.0      0.0      0.0           0
4        78           0        23      0.0      0.0      0.0           0

   weather_id weather_main weather_description weather_icon
0         800        clear        sky is clear          01n
1         800        clear        sky is clear          01n
2         800        clear        sky is clear          01n
3         800        clear        sky is clear          01n
4         800        clear        sky is clear          01n

- temp is measured in Kelvin.
- *rain_1h, rain_3h, snow_3h, clouds_all* seem to have all zero values.

In [55]:
df_weather.shape

(178396, 17)

In [56]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt_iso               178396 non-null  object
 1   city_name            178396 non-null  object
 2   temp                 178396 non-null  float64
 3   temp_min             178396 non-null  float64
 4   temp_max             178396 non-null  float64
 5   pressure             178396 non-null  int64
 6   humidity             178396 non-null  int64
 7   wind_speed           178396 non-null  int64
 8   wind_deg             178396 non-null  int64
 9   rain_1h              178396 non-null  float64
 10  rain_3h              178396 non-null  float64
 11  snow_3h              178396 non-null  float64
 12  clouds_all           178396 non-null  int64
 13  weather_id           178396 non-null  int64
 14  weather_main         178396 non-null  object
 15  weather_description  178396 non-null  object
 16  weather_icon         178396 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 23.1+ MB

- df_weather has no null values.

# Missing Values

## df_energy

In [57]:
df_energy.isnull().sum()

time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

- All the records for *'generation hydro pumped storage aggregated'* & *'forecast wind offshore eday ahead'* contain null values. Therefore, the entire columns must be dropped.

In [58]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

2     35017
3        29
23       12
22        6
Name: count, dtype: int64

- Almost all the rows, have 2 null columns.

## df_weather

In [59]:
df_weather.isnull().sum()

dt_iso                 0
city_name              0
temp                   0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
rain_1h                0
rain_3h                0
snow_3h                0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

- No missing values in df_weather.

# Invalid Data

## df_energy

In [60]:
# get the unique values count for each column
for column in df_energy.columns:
    print(df_energy[column].value_counts())
    print('-'*20)

time
2015-01-01 00:00:00+01:00    1
2017-09-01 03:00:00+02:00    1
2017-08-31 21:00:00+02:00    1
2017-08-31 22:00:00+02:00    1
2017-08-31 23:00:00+02:00    1
                            ..
2016-05-01 19:00:00+02:00    1
2016-05-01 18:00:00+02:00    1
2016-05-01 17:00:00+02:00    1
2016-05-01 16:00:00+02:00    1
2018-12-31 23:00:00+01:00    1
Name: count, Length: 35064, dtype: int64
--------------------
generation biomass
361.0    321
362.0    318
351.0    310
358.0    305
359.0    305
        ...
101.0      1
589.0      1
174.0      1
175.0      1
168.0      1
Name: count, Length: 423, dtype: int64
--------------------
generation fossil brown coal/lignite
0.0      10517
663.0      165
664.0      124
595.0      108
657.0      103
         ...
144.0        1
39.0         1
87.0         1
41.0         1
35.0         1
Name: count, Length: 956, dtype: int64
--------------------
generation fossil coal-derived gas
0.0    35046
Name: count, dtype: int64
--------------------
generation fossil gas
4180.0    24
3993.0    24
4227.0    21
3856.0    21
4082.0    20
          ..
3284.0     1
3323.0     1
8903.0     1
9341.0     1
8024.0     1
Name: count, Length: 8297, dtype: int64
--------------------
generation fossil hard coal
5266.0    16
4747.0    15
5324.0    15
6176.0    15
5333.0    15
          ..
2242.0     1
3754.0     1
3970.0     1
7624.0     1
3443.0     1
Name: count, Length: 7266, dtype: int64
--------------------
generation fossil oil
303.0    335
309.0    328
304.0    326
300.0    323
308.0    320
        ...
122.0      1
145.0      1
131.0      1
129.0      1
44.0       1
Name: count, Length: 321, dtype: int64
--------------------
generation fossil oil shale
0.0    35046
Name: count, dtype: int64
--------------------
generation fossil peat
0.0    35046
Name: count, dtype: int64
--------------------
generation geothermal
0.0    35046
Name: count, dtype: int64
--------------------
Series([], Name: count, dtype: int64)
--------------------
generation hydro pumped storage consumption
0.0       12607
1.0        1641
2.0         300
3.0         184
54.0        130
          ...
2743.0        1
2505.0        1
3068.0        1
1913.0        1
2217.0        1
Name: count, Length: 3311, dtype: int64
--------------------
generation hydro run-of-river and poundage
600.0     59
632.0     58
615.0     56
552.0     56
553.0     56
          ..
1989.0     1
2000.0     1
301.0      1
287.0      1
1918.0     1
Name: count, Length: 1684, dtype: int64
--------------------
generation hydro water reservoir
801.0     26
621.0     22
1099.0    21
1311.0    21
551.0     21
          ..
5386.0     1
7193.0     1
7204.0     1
7031.0     1
3144.0     1
Name: count, Length: 7029, dtype: int64
--------------------
generation marine
0.0    35045
Name: count, dtype: int64
--------------------
generation nuclear
7102.0    376
7103.0    367
7104.0    366
7101.0    364
7098.0    344
         ...
6600.0      1
3965.0      1
3888.0      1
3837.0      1
5812.0      1
Name: count, Length: 2388, dtype: int64
--------------------
generation other
57.0     2288
56.0     2271
55.0     2183
58.0     2093
54.0     1775
         ...
31.0        2
102.0       2
103.0       1
106.0       1
3.0         1
Name: count, Length: 103, dtype: int64
--------------------
generation other renewable
94.0     990
92.0     981
99.0     978
93.0     961
96.0     954
        ...
43.0       2
119.0      2
4.0        1
14.0       1
45.0       1
Name: count, Length: 78, dtype: int64
--------------------
generation solar
26.0      258
20.0      247
23.0      236
21.0      225
27.0      224
         ...
1882.0      1
4690.0      1
2560.0      1
3266.0      1
2039.0      1
Name: count, Length: 5331, dtype: int64
--------------------
generation waste
317.0    405
312.0    398
316.0    397
319.0    391
314.0    387
        ...
85.0       1
84.0       1
39.0       1
100.0      1
356.0      1
Name: count, Length: 262, dtype: int64
--------------------
generation wind offshore
0.0    35046
Name: count, dtype: int64
--------------------
generation wind onshore
3932.0    15
2845.0    15
2590.0    14
2422.0    14
3488.0    13
          ..
9707.0     1
7882.0     1
9427.0     1
9447.0     1
6133.0     1
Name: count, Length: 11465, dtype: int64
--------------------
forecast solar day ahead
10.0      555
0.0       539
11.0      508
1.0       373
12.0      358
         ...
3641.0      1
2075.0      1
3521.0      1
3862.0      1
1896.0      1
Name: count, Length: 5356, dtype: int64
--------------------
Series([], Name: count, dtype: int64)
--------------------
forecast wind onshore day ahead
2802.0     14
3488.0     13
3575.0     13
3416.0     12
3196.0     12
           ..
15654.0     1
4223.0      1
10555.0     1
10233.0     1
5904.0      1
Name: count, Length: 11332, dtype: int64
--------------------
total load forecast
31051.0    13
29932.0    12
31596.0    11
35277.0    11
23863.0    11
           ..
21240.0     1
21751.0     1
22263.0     1
35432.0     1
28517.0     1
Name: count, Length: 14790, dtype: int64
--------------------
total load actual
23665.0    12
33176.0    10
32023.0    10
30960.0    10
23000.0     9
           ..
36765.0     1
37498.0     1
37058.0     1
35979.0     1
21723.0     1
Name: count, Length: 15127, dtype: int64
--------------------
price day ahead
40.00    179
50.00    178
45.00    151
60.00    126
55.00    116
        ...
73.61      1
70.06      1
12.70      1
73.53      1
71.97      1
Name: count, Length: 5747, dtype: int64
--------------------
price actual
56.85    24
55.91    22
56.71    22
52.35    21
51.33    21
         ..
17.96     1
17.47     1
16.34     1
18.41     1
80.10     1
Name: count, Length: 6653, dtype: int64
--------------------

- Columns of *'generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 'generation geothermal', 'generation marine', 'generation wind offshore'* have all record values as zero.

In [61]:
# count the negative values for each numeric column
print((df_energy.select_dtypes(include='number') < 0).sum())

generation biomass                             0
generation fossil brown coal/lignite           0
generation fossil coal-derived gas             0
generation fossil gas                          0
generation fossil hard coal                    0
generation fossil oil                          0
generation fossil oil shale                    0
generation fossil peat                         0
generation geothermal                          0
generation hydro pumped storage aggregated     0
generation hydro pumped storage consumption    0
generation hydro run-of-river and poundage     0
generation hydro water reservoir               0
generation marine                              0
generation nuclear                             0
generation other                               0
generation other renewable                     0
generation solar                               0
generation waste                               0
generation wind offshore                       0
generation wind onshore                        0
forecast solar day ahead                       0
forecast wind offshore eday ahead              0
forecast wind onshore day ahead                0
total load forecast                            0
total load actual                              0
price day ahead                                0
price actual                                   0
dtype: int64

- No columns contain negative values.

## df_weather

In [62]:
# get the unique values count for each column
for column in df_weather.columns:
    print(df_weather[column].value_counts())
    print('-'*20)

dt_iso
2015-10-01 02:00:00+02:00    10
2017-09-30 02:00:00+02:00    10
2016-09-30 02:00:00+02:00    10
2018-09-30 02:00:00+02:00    10
2018-02-28 09:00:00+01:00    10
                             ..
2016-05-06 17:00:00+02:00     5
2016-05-06 15:00:00+02:00     5
2016-05-06 14:00:00+02:00     5
2016-05-06 13:00:00+02:00     5
2018-12-31 23:00:00+01:00     5
Name: count, Length: 35064, dtype: int64
--------------------
city_name
Madrid        36267
Bilbao        35951
Seville       35557
 Barcelona    35476
Valencia      35145
Name: count, dtype: int64
--------------------
temp
286.150000    2105
287.150000    2061
289.150000    2041
288.150000    1981
285.150000    1870
              ...
270.914000       1
272.171000       1
276.308656       1
279.189344       1
280.150500       1
Name: count, Length: 20743, dtype: int64
--------------------
temp_min
288.150000    6028
286.150000    5706
287.150000    5628
289.150000    5582
285.150000    5417
              ...
279.753312       1
281.277688       1
280.667500       1
283.004656       1
280.150500       1
Name: count, Length: 18553, dtype: int64
--------------------
temp_max
288.150000    5574
289.150000    5501
287.150000    5354
286.150000    5338
290.150000    5324
              ...
283.004656       1
281.797500       1
281.564000       1
280.254344       1
280.150500       1
Name: count, Length: 18591, dtype: int64
--------------------
pressure
1017       11414
1016       11357
1018       11321
1019       10500
1015       10468
           ...
1001781        1
1001501        1
1000951        1
100078         1
1090           1
Name: count, Length: 190, dtype: int64
--------------------
humidity
93     15920
100    10128
87      9781
82      5869
81      4994
       ...
6          4
3          3
4          2
2          2
5          1
Name: count, Length: 100, dtype: int64
--------------------
wind_speed
1      55201
2      34548
3      25036
0      18490
4      18313
5      11683
6       6794
7       3779
8       2127
9       1154
10       533
11       327
12       203
13        49
14        46
17        21
15        18
16        18
20        16
22        10
19         8
24         4
25         3
30         3
35         1
33         1
64         1
27         1
54         1
40         1
38         1
21         1
29         1
43         1
133        1
18         1
Name: count, dtype: int64
--------------------
wind_deg
0      24920
220     5111
320     4419
330     4314
230     4131
       ...
359       77
357       77
354       74
147       69
137       65
Name: count, Length: 361, dtype: int64
--------------------
rain_1h
0.00     159008
0.30      12795
0.90       5196
3.00       1310
12.00        85
2.29          1
0.25          1
Name: count, dtype: int64
--------------------
rain_3h
0.0000    176541
0.0100       214
0.0050       187
0.0150       128
0.0250        74
           ...
0.0525         2
0.0730         2
0.0830         1
2.3150         1
0.0530         1
Name: count, Length: 89, dtype: int64
--------------------
snow_3h
0.000    178129
1.500        15
2.700        15
0.700        12
0.200        12
          ...
0.001         2
1.049         1
1.187         1
0.243         1
0.335         1
Name: count, Length: 66, dtype: int64
--------------------
clouds_all
0     82194
20    31002
75    21940
40    13668
92     4380
      ...
97        2
63        2
96        1
11        1
93        1
Name: count, Length: 97, dtype: int64
--------------------
weather_id
800    82685
801    32101
803    17448
802    15945
500    10905
701     3908
501     3625
804     2561
741     2506
300     1241
502     1142
521      902
211      789
520      657
721      435
301      371
761      345
600      140
201      127
200       92
522       81
310       79
503       78
601       74
711       33
202       31
615       20
311       19
302       14
616       13
611       13
612        4
602        3
620        3
210        2
731        2
531        1
771        1
Name: count, dtype: int64
--------------------
weather_main
clear           82685
clouds          68055
rain            17391
mist             3908
fog              2506
drizzle          1724
thunderstorm     1041
haze              435
dust              347
snow              270
smoke              33
squall              1
Name: count, dtype: int64
--------------------
weather_description
sky is clear                    82685
few clouds                      32101
broken clouds                   17448
scattered clouds                15945
light rain                      10905
mist                             3908
moderate rain                    3621
overcast clouds                  2561
fog                              2506
light intensity drizzle          1241
heavy intensity rain             1142
light intensity shower rain       657
proximity thunderstorm            480
proximity shower rain             476
haze                              435
shower rain                       426
drizzle                           369
dust                              345
thunderstorm                      309
light snow                        140
thunderstorm with rain            127
thunderstorm with light rain       92
heavy intensity shower rain        81
light intensity drizzle rain       79
very heavy rain                    78
snow                               74
smoke                              33
thunderstorm with heavy rain       31
light rain and snow                20
rain and drizzle                   19
heavy intensity drizzle            14
rain and snow                      13
sleet                              13
proximity moderate rain             4
heavy snow                          3
light shower sleet                  3
light shower snow                   3
light thunderstorm                  2
sand dust whirls                    2
proximity drizzle                   2
shower sleet                        1
ragged shower rain                  1
squalls                             1
Name: count, dtype: int64
--------------------
weather_icon
01n    38541
01d    34830
02d    19199
02n    12368
04d     9137
04n     8403
03d     7870
10n     5951
01      5946
03n     5833
10      4917
10d     4882
50n     4288
02      3902
50d     2942
04      2469
03      2242
09d     1976
09n     1389
11d      624
11n      417
13d      130
13n      103
13        37
Name: count, dtype: int64
--------------------

- weather_id seems to match with weather_description.
- weather_icon represents the id of the display icon used.

In [63]:
# count the zero values for each numeric column
print((df_weather.select_dtypes(include='number') < 0).sum())

temp          0
temp_min      0
temp_max      0
pressure      0
humidity      0
wind_speed    0
wind_deg      0
rain_1h       0
rain_3h       0
snow_3h       0
clouds_all    0
weather_id    0
dtype: int64

- no columns with negative values in df_weather.

In [64]:
print((df_weather.select_dtypes(include='number') == 0).sum()/df_weather.shape[0])

temp          0.000000
temp_min      0.000000
temp_max      0.000000
pressure      0.000011
humidity      0.000353
wind_speed    0.103646
wind_deg      0.139689
rain_1h       0.891320
rain_3h       0.989602
snow_3h       0.998503
clouds_all    0.460739
weather_id    0.000000
dtype: float64

- almost all columns in rain_1h, rain_3h, snow_3h contain >89% zero values.
- clouds_all having zero value means clear sky. (not dropping for now)

# Data Preparation

## df_energy

In [65]:
# drop columns with all null values
columns_to_drop = ['generation hydro pumped storage aggregated', 'forecast wind offshore eday ahead']
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [66]:
df_energy.isnull().sum()

time                                            0
generation biomass                             19
generation fossil brown coal/lignite           18
generation fossil coal-derived gas             18
generation fossil gas                          18
generation fossil hard coal                    18
generation fossil oil                          19
generation fossil oil shale                    18
generation fossil peat                         18
generation geothermal                          18
generation hydro pumped storage consumption    19
generation hydro run-of-river and poundage     19
generation hydro water reservoir               18
generation marine                              19
generation nuclear                             17
generation other                               18
generation other renewable                     18
generation solar                               18
generation waste                               19
generation wind offshore                       18
generation wind onshore                        18
forecast solar day ahead                        0
forecast wind onshore day ahead                 0
total load forecast                             0
total load actual                              36
price day ahead                                 0
price actual                                    0
dtype: int64

In [67]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0     35017
1        29
21       12
20        6
Name: count, dtype: int64

In [68]:
# drop columns with all zero values
columns_to_drop = ['generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 
                   'generation geothermal', 'generation marine', 'generation wind offshore' ]
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [69]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0     35018
1        28
15       12
14        6
Name: count, dtype: int64

In [70]:
# remove the rows having null values
df_energy = df_energy.dropna()

In [71]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0    35018
Name: count, dtype: int64

In [72]:
df_energy['time']

0        2015-01-01 00:00:00+01:00
1        2015-01-01 01:00:00+01:00
2        2015-01-01 02:00:00+01:00
3        2015-01-01 03:00:00+01:00
4        2015-01-01 04:00:00+01:00
                   ...
35059    2018-12-31 19:00:00+01:00
35060    2018-12-31 20:00:00+01:00
35061    2018-12-31 21:00:00+01:00
35062    2018-12-31 22:00:00+01:00
35063    2018-12-31 23:00:00+01:00
Name: time, Length: 35018, dtype: object

In [73]:
# Convert the column from string to datetime
df_energy['time'] = pd.to_datetime(df_energy['time'], utc=True) # datetime values that are explicitly in UTC

In [74]:
type(df_energy['time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [75]:
# save the dataframe as csv
df_energy.to_csv('data/df_energy_processed.csv', index=False)

- We have taken care of all the missing and invalid datatypes and values.

## df_weather

In [76]:
# 1. drop the columns with almost all zero values and icon
df_weather.drop(['rain_1h', 'rain_3h', 'snow_3h', 'weather_icon'], axis=1, inplace=True)

In [77]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(sum((df_weather.select_dtypes(include='number') == 0).sum(axis=1)==1))

# get the indices
indices = df_weather.index[(df_weather.select_dtypes(include='number') == 0).sum(axis=1)==1]
temp = df_weather.iloc[indices]
# count the zero values for each numeric column
print((temp.select_dtypes(include='number') == 0).sum())

77375
temp              0
temp_min          0
temp_max          0
pressure          0
humidity         22
wind_speed     4138
wind_deg       7454
clouds_all    65761
weather_id        0
dtype: int64

In [78]:
df_weather.columns

Index(['dt_iso', 'city_name', 'temp', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'wind_deg', 'clouds_all', 'weather_id',
       'weather_main', 'weather_description'],
      dtype='object')

In [79]:
for i in df_weather.columns:
    print(i,': ',type(df_weather[i][0]))

dt_iso :  <class 'str'>
city_name :  <class 'str'>
temp :  <class 'numpy.float64'>
temp_min :  <class 'numpy.float64'>
temp_max :  <class 'numpy.float64'>
pressure :  <class 'numpy.int64'>
humidity :  <class 'numpy.int64'>
wind_speed :  <class 'numpy.int64'>
wind_deg :  <class 'numpy.int64'>
clouds_all :  <class 'numpy.int64'>
weather_id :  <class 'numpy.int64'>
weather_main :  <class 'str'>
weather_description :  <class 'str'>

In [80]:
# 2. Convert the column from string to datetime
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'], utc=True)

In [81]:
# 3. trim the string values in city_name
print(df_weather['city_name'].value_counts())
df_weather['city_name'] = df_weather['city_name'].str.strip()
print(df_weather['city_name'].value_counts())

city_name
Madrid        36267
Bilbao        35951
Seville       35557
 Barcelona    35476
Valencia      35145
Name: count, dtype: int64
city_name
Madrid       36267
Bilbao       35951
Seville      35557
Barcelona    35476
Valencia     35145
Name: count, dtype: int64

In [82]:
# save the dataframe as csv
df_weather.to_csv('data/df_weather_processed.csv', index=False)

# Merge two datasets

In [83]:
df_energy.columns

Index(['time', 'generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil gas', 'generation fossil hard coal',
       'generation fossil oil', 'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation nuclear',
       'generation other', 'generation other renewable', 'generation solar',
       'generation waste', 'generation wind onshore',
       'forecast solar day ahead', 'forecast wind onshore day ahead',
       'total load forecast', 'total load actual', 'price day ahead',
       'price actual'],
      dtype='object')

In [84]:
df_weather.columns

Index(['dt_iso', 'city_name', 'temp', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'wind_deg', 'clouds_all', 'weather_id',
       'weather_main', 'weather_description'],
      dtype='object')

In [85]:
df_weather['dt_iso']

0        2014-12-31 23:00:00+00:00
1        2015-01-01 00:00:00+00:00
2        2015-01-01 01:00:00+00:00
3        2015-01-01 02:00:00+00:00
4        2015-01-01 03:00:00+00:00
                    ...
178391   2018-12-31 18:00:00+00:00
178392   2018-12-31 19:00:00+00:00
178393   2018-12-31 20:00:00+00:00
178394   2018-12-31 21:00:00+00:00
178395   2018-12-31 22:00:00+00:00
Name: dt_iso, Length: 178396, dtype: datetime64[ns, UTC]

In [86]:
# Find duplicate rows in the DataFrame
duplicates = df_weather.duplicated()
duplicate_rows = df_weather[duplicates]
duplicate_rows.shape

(21, 13)

In [87]:
df_weather['city_name'].value_counts()

city_name
Madrid       36267
Bilbao       35951
Seville      35557
Barcelona    35476
Valencia     35145
Name: count, dtype: int64

- df_energy and df_weather cannot be merged yet. There are many duplicates for every city in df_weather and we should drop them and see if their number of rows match.

In [88]:
df_weather.drop_duplicates(subset=['dt_iso', 'city_name'], keep='first', inplace=True)
df_weather['city_name'].value_counts()

city_name
Valencia     35064
Madrid       35064
Bilbao       35064
Barcelona    35064
Seville      35064
Name: count, dtype: int64

In [89]:
df_weather.duplicated(subset=['dt_iso', 'city_name'], keep='first').sum()

0

- we have zero duplicates in df_weather

In [90]:
# join the two datasets on time and date_iso
merged_df = pd.merge(df_energy, df_weather, left_on='time', right_on='dt_iso', how='inner')

In [91]:
pd.set_option('display.max_columns', None) 
print(merged_df.head())

                       time  generation biomass  \
0 2014-12-31 23:00:00+00:00               447.0
1 2014-12-31 23:00:00+00:00               447.0
2 2014-12-31 23:00:00+00:00               447.0
3 2014-12-31 23:00:00+00:00               447.0
4 2014-12-31 23:00:00+00:00               447.0

   generation fossil brown coal/lignite  generation fossil gas  \
0                                 329.0                 4844.0
1                                 329.0                 4844.0
2                                 329.0                 4844.0
3                                 329.0                 4844.0
4                                 329.0                 4844.0

   generation fossil hard coal  generation fossil oil  \
0                       4821.0                  162.0
1                       4821.0                  162.0
2                       4821.0                  162.0
3                       4821.0                  162.0
4                       4821.0                  162.0

   generation hydro pumped storage consumption  \
0                                        863.0
1                                        863.0
2                                        863.0
3                                        863.0
4                                        863.0

   generation hydro run-of-river and poundage  \
0                                      1051.0
1                                      1051.0
2                                      1051.0
3                                      1051.0
4                                      1051.0

   generation hydro water reservoir  generation nuclear  generation other  \
0                            1899.0              7096.0              43.0
1                            1899.0              7096.0              43.0
2                            1899.0              7096.0              43.0
3                            1899.0              7096.0              43.0
4                            1899.0              7096.0              43.0

   generation other renewable  generation solar  generation waste  \
0                        73.0              49.0             196.0
1                        73.0              49.0             196.0
2                        73.0              49.0             196.0
3                        73.0              49.0             196.0
4                        73.0              49.0             196.0

   generation wind onshore  forecast solar day ahead  \
0                   6378.0                      17.0
1                   6378.0                      17.0
2                   6378.0                      17.0
3                   6378.0                      17.0
4                   6378.0                      17.0

   forecast wind onshore day ahead  total load forecast  total load actual  \
0                           6436.0              26118.0            25385.0
1                           6436.0              26118.0            25385.0
2                           6436.0              26118.0            25385.0
3                           6436.0              26118.0            25385.0
4                           6436.0              26118.0            25385.0

   price day ahead  price actual                    dt_iso  city_name  \
0             50.1         65.41 2014-12-31 23:00:00+00:00   Valencia
1             50.1         65.41 2014-12-31 23:00:00+00:00     Madrid
2             50.1         65.41 2014-12-31 23:00:00+00:00     Bilbao
3             50.1         65.41 2014-12-31 23:00:00+00:00  Barcelona
4             50.1         65.41 2014-12-31 23:00:00+00:00    Seville

         temp    temp_min    temp_max  pressure  humidity  wind_speed  \
0  270.475000  270.475000  270.475000      1001        77           1
1  267.325000  267.325000  267.325000       971        63           1
2  269.657312  269.657312  269.657312      1036        97           0
3  281.625000  281.625000  281.625000      1035       100           7
4  273.375000  273.375000  273.375000      1039        75           1

   wind_deg  clouds_all  weather_id weather_main weather_description
0        62           0         800        clear        sky is clear
1       309           0         800        clear        sky is clear
2       226           0         800        clear        sky is clear
3        58           0         800        clear        sky is clear
4        21           0         800        clear        sky is clear

In [92]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175090 entries, 0 to 175089
Data columns (total 34 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   time                                         175090 non-null  datetime64[ns, UTC]
 1   generation biomass                           175090 non-null  float64
 2   generation fossil brown coal/lignite         175090 non-null  float64
 3   generation fossil gas                        175090 non-null  float64
 4   generation fossil hard coal                  175090 non-null  float64
 5   generation fossil oil                        175090 non-null  float64
 6   generation hydro pumped storage consumption  175090 non-null  float64
 7   generation hydro run-of-river and poundage   175090 non-null  float64
 8   generation hydro water reservoir             175090 non-null  float64
 9   generation nuclear                           175090 non-null  float64
 10  generation other                             175090 non-null  float64
 11  generation other renewable                   175090 non-null  float64
 12  generation solar                             175090 non-null  float64
 13  generation waste                             175090 non-null  float64
 14  generation wind onshore                      175090 non-null  float64
 15  forecast solar day ahead                     175090 non-null  float64
 16  forecast wind onshore day ahead              175090 non-null  float64
 17  total load forecast                          175090 non-null  float64
 18  total load actual                            175090 non-null  float64
 19  price day ahead                              175090 non-null  float64
 20  price actual                                 175090 non-null  float64
 21  dt_iso                                       175090 non-null  datetime64[ns, UTC]
 22  city_name                                    175090 non-null  object
 23  temp                                         175090 non-null  float64
 24  temp_min                                     175090 non-null  float64
 25  temp_max                                     175090 non-null  float64
 26  pressure                                     175090 non-null  int64
 27  humidity                                     175090 non-null  int64
 28  wind_speed                                   175090 non-null  int64
 29  wind_deg                                     175090 non-null  int64
 30  clouds_all                                   175090 non-null  int64
 31  weather_id                                   175090 non-null  int64
 32  weather_main                                 175090 non-null  object
 33  weather_description                          175090 non-null  object
dtypes: datetime64[ns, UTC](2), float64(23), int64(6), object(3)
memory usage: 45.4+ MB

In [93]:
# Remove rows of year 2014 as there are less values
merged_df = merged_df[merged_df['time'].dt.year != 2014]

In [94]:
# drop duplicate dt_iso column
merged_df.drop(['dt_iso'], axis=1, inplace=True)

In [95]:
# save the dataframe as csv
merged_df.to_csv('data/df.csv', index=False)