In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

link - https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather

# Load the data

In [78]:
# load the data
df_energy = pd.read_csv('data/energy_dataset.csv')
df_weather = pd.read_csv('data/weather_features.csv')

# Inspect the data

In [79]:
print(df_energy.head())

                        time  generation biomass  \
0  2015-01-01 00:00:00+01:00               447.0
1  2015-01-01 01:00:00+01:00               449.0
2  2015-01-01 02:00:00+01:00               448.0
3  2015-01-01 03:00:00+01:00               438.0
4  2015-01-01 04:00:00+01:00               428.0

   generation fossil brown coal/lignite  generation fossil coal-derived gas  \
0                                 329.0                                 0.0
1                                 328.0                                 0.0
2                                 323.0                                 0.0
3                                 254.0                                 0.0
4                                 187.0                                 0.0

   generation fossil gas  generation fossil hard coal  generation fossil oil  \
0                 4844.0                       4821.0                  162.0
1                 5196.0                       4755.0                  158.0
2                 4857.0                       4581.0                  157.0
3                 4314.0                       4131.0                  160.0
4                 4130.0                       3840.0                  156.0

   generation fossil oil shale  generation fossil peat  generation geothermal  \
0                          0.0                     0.0                    0.0
1                          0.0                     0.0                    0.0
2                          0.0                     0.0                    0.0
3                          0.0                     0.0                    0.0
4                          0.0                     0.0                    0.0

   ...  generation waste  generation wind offshore  generation wind onshore  \
0  ...             196.0                       0.0                   6378.0
1  ...             195.0                       0.0                   5890.0
2  ...             196.0                       0.0                   5461.0
3  ...             191.0                       0.0                   5238.0
4  ...             189.0                       0.0                   4935.0

   forecast solar day ahead  forecast wind offshore eday ahead  \
0                      17.0                                NaN
1                      16.0                                NaN
2                       8.0                                NaN
3                       2.0                                NaN
4                       9.0                                NaN

   forecast wind onshore day ahead  total load forecast  total load actual  \
0                           6436.0              26118.0            25385.0
1                           5856.0              24934.0            24382.0
2                           5454.0              23515.0            22734.0
3                           5151.0              22642.0            21286.0
4                           4861.0              21785.0            20264.0

   price day ahead  price actual
0            50.10         65.41
1            48.10         64.92
2            47.33         64.48
3            42.27         59.32
4            38.41         56.04

[5 rows x 29 columns]

In [80]:
df_energy.shape

(35064, 29)

In [81]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [82]:
# time should be datetime not string
type(df_energy['time'][0])

str

- *'time'* should be changed to datetime, as it represents time.

# Missing Values

In [83]:
df_energy.isnull().sum()

time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

- All the records for *'generation hydro pumped storage aggregated'* & *'forecast wind offshore eday ahead'* contain null values. Therefore, the entire columns must be dropped.

In [84]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

2     35017
3        29
23       12
22        6
Name: count, dtype: int64

- Almost all the rows, have 2 null columns.

# Invalid Data

In [85]:
# get the unique values count for each column
for column in df_energy.columns:
    print(df_energy[column].value_counts())
    print('-'*20)

time
2015-01-01 00:00:00+01:00    1
2017-09-01 03:00:00+02:00    1
2017-08-31 21:00:00+02:00    1
2017-08-31 22:00:00+02:00    1
2017-08-31 23:00:00+02:00    1
                            ..
2016-05-01 19:00:00+02:00    1
2016-05-01 18:00:00+02:00    1
2016-05-01 17:00:00+02:00    1
2016-05-01 16:00:00+02:00    1
2018-12-31 23:00:00+01:00    1
Name: count, Length: 35064, dtype: int64
--------------------
generation biomass
361.0    321
362.0    318
351.0    310
358.0    305
359.0    305
        ...
101.0      1
589.0      1
174.0      1
175.0      1
168.0      1
Name: count, Length: 423, dtype: int64
--------------------
generation fossil brown coal/lignite
0.0      10517
663.0      165
664.0      124
595.0      108
657.0      103
         ...
144.0        1
39.0         1
87.0         1
41.0         1
35.0         1
Name: count, Length: 956, dtype: int64
--------------------
generation fossil coal-derived gas
0.0    35046
Name: count, dtype: int64
--------------------
generation fossil gas
4180.0    24
3993.0    24
4227.0    21
3856.0    21
4082.0    20
          ..
3284.0     1
3323.0     1
8903.0     1
9341.0     1
8024.0     1
Name: count, Length: 8297, dtype: int64
--------------------
generation fossil hard coal
5266.0    16
4747.0    15
5324.0    15
6176.0    15
5333.0    15
          ..
2242.0     1
3754.0     1
3970.0     1
7624.0     1
3443.0     1
Name: count, Length: 7266, dtype: int64
--------------------
generation fossil oil
303.0    335
309.0    328
304.0    326
300.0    323
308.0    320
        ...
122.0      1
145.0      1
131.0      1
129.0      1
44.0       1
Name: count, Length: 321, dtype: int64
--------------------
generation fossil oil shale
0.0    35046
Name: count, dtype: int64
--------------------
generation fossil peat
0.0    35046
Name: count, dtype: int64
--------------------
generation geothermal
0.0    35046
Name: count, dtype: int64
--------------------
Series([], Name: count, dtype: int64)
--------------------
generation hydro pumped storage consumption
0.0       12607
1.0        1641
2.0         300
3.0         184
54.0        130
          ...
2743.0        1
2505.0        1
3068.0        1
1913.0        1
2217.0        1
Name: count, Length: 3311, dtype: int64
--------------------
generation hydro run-of-river and poundage
600.0     59
632.0     58
615.0     56
552.0     56
553.0     56
          ..
1989.0     1
2000.0     1
301.0      1
287.0      1
1918.0     1
Name: count, Length: 1684, dtype: int64
--------------------
generation hydro water reservoir
801.0     26
621.0     22
1099.0    21
1311.0    21
551.0     21
          ..
5386.0     1
7193.0     1
7204.0     1
7031.0     1
3144.0     1
Name: count, Length: 7029, dtype: int64
--------------------
generation marine
0.0    35045
Name: count, dtype: int64
--------------------
generation nuclear
7102.0    376
7103.0    367
7104.0    366
7101.0    364
7098.0    344
         ...
6600.0      1
3965.0      1
3888.0      1
3837.0      1
5812.0      1
Name: count, Length: 2388, dtype: int64
--------------------
generation other
57.0     2288
56.0     2271
55.0     2183
58.0     2093
54.0     1775
         ...
31.0        2
102.0       2
103.0       1
106.0       1
3.0         1
Name: count, Length: 103, dtype: int64
--------------------
generation other renewable
94.0     990
92.0     981
99.0     978
93.0     961
96.0     954
        ...
43.0       2
119.0      2
4.0        1
14.0       1
45.0       1
Name: count, Length: 78, dtype: int64
--------------------
generation solar
26.0      258
20.0      247
23.0      236
21.0      225
27.0      224
         ...
1882.0      1
4690.0      1
2560.0      1
3266.0      1
2039.0      1
Name: count, Length: 5331, dtype: int64
--------------------
generation waste
317.0    405
312.0    398
316.0    397
319.0    391
314.0    387
        ...
85.0       1
84.0       1
39.0       1
100.0      1
356.0      1
Name: count, Length: 262, dtype: int64
--------------------
generation wind offshore
0.0    35046
Name: count, dtype: int64
--------------------
generation wind onshore
3932.0    15
2845.0    15
2590.0    14
2422.0    14
3488.0    13
          ..
9707.0     1
7882.0     1
9427.0     1
9447.0     1
6133.0     1
Name: count, Length: 11465, dtype: int64
--------------------
forecast solar day ahead
10.0      555
0.0       539
11.0      508
1.0       373
12.0      358
         ...
3641.0      1
2075.0      1
3521.0      1
3862.0      1
1896.0      1
Name: count, Length: 5356, dtype: int64
--------------------
Series([], Name: count, dtype: int64)
--------------------
forecast wind onshore day ahead
2802.0     14
3488.0     13
3575.0     13
3416.0     12
3196.0     12
           ..
15654.0     1
4223.0      1
10555.0     1
10233.0     1
5904.0      1
Name: count, Length: 11332, dtype: int64
--------------------
total load forecast
31051.0    13
29932.0    12
31596.0    11
35277.0    11
23863.0    11
           ..
21240.0     1
21751.0     1
22263.0     1
35432.0     1
28517.0     1
Name: count, Length: 14790, dtype: int64
--------------------
total load actual
23665.0    12
33176.0    10
32023.0    10
30960.0    10
23000.0     9
           ..
36765.0     1
37498.0     1
37058.0     1
35979.0     1
21723.0     1
Name: count, Length: 15127, dtype: int64
--------------------
price day ahead
40.00    179
50.00    178
45.00    151
60.00    126
55.00    116
        ...
73.61      1
70.06      1
12.70      1
73.53      1
71.97      1
Name: count, Length: 5747, dtype: int64
--------------------
price actual
56.85    24
55.91    22
56.71    22
52.35    21
51.33    21
         ..
17.96     1
17.47     1
16.34     1
18.41     1
80.10     1
Name: count, Length: 6653, dtype: int64
--------------------

- Columns of *'generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 'generation geothermal', 'generation marine', 'generation wind offshore'* have all record values as zero.

In [86]:
# count the negative values for each numeric column
print((df_energy.select_dtypes(include='number') < 0).sum())

generation biomass                             0
generation fossil brown coal/lignite           0
generation fossil coal-derived gas             0
generation fossil gas                          0
generation fossil hard coal                    0
generation fossil oil                          0
generation fossil oil shale                    0
generation fossil peat                         0
generation geothermal                          0
generation hydro pumped storage aggregated     0
generation hydro pumped storage consumption    0
generation hydro run-of-river and poundage     0
generation hydro water reservoir               0
generation marine                              0
generation nuclear                             0
generation other                               0
generation other renewable                     0
generation solar                               0
generation waste                               0
generation wind offshore                       0
generation wind onshore                        0
forecast solar day ahead                       0
forecast wind offshore eday ahead              0
forecast wind onshore day ahead                0
total load forecast                            0
total load actual                              0
price day ahead                                0
price actual                                   0
dtype: int64

- No columns contain negative values.

# Data Preparation

In [87]:
# drop columns with all null values
columns_to_drop = ['generation hydro pumped storage aggregated', 'forecast wind offshore eday ahead']
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [88]:
df_energy.isnull().sum()

time                                            0
generation biomass                             19
generation fossil brown coal/lignite           18
generation fossil coal-derived gas             18
generation fossil gas                          18
generation fossil hard coal                    18
generation fossil oil                          19
generation fossil oil shale                    18
generation fossil peat                         18
generation geothermal                          18
generation hydro pumped storage consumption    19
generation hydro run-of-river and poundage     19
generation hydro water reservoir               18
generation marine                              19
generation nuclear                             17
generation other                               18
generation other renewable                     18
generation solar                               18
generation waste                               19
generation wind offshore                       18
generation wind onshore                        18
forecast solar day ahead                        0
forecast wind onshore day ahead                 0
total load forecast                             0
total load actual                              36
price day ahead                                 0
price actual                                    0
dtype: int64

In [89]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0     35017
1        29
21       12
20        6
Name: count, dtype: int64

In [90]:
# drop columns with all zero values
columns_to_drop = ['generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 
                   'generation geothermal', 'generation marine', 'generation wind offshore' ]
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [91]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0     35018
1        28
15       12
14        6
Name: count, dtype: int64

In [92]:
# remove the rows having null values
df_energy = df_energy.dropna()

In [94]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

0    35018
Name: count, dtype: int64

In [95]:
df_energy['time']

0        2015-01-01 00:00:00+01:00
1        2015-01-01 01:00:00+01:00
2        2015-01-01 02:00:00+01:00
3        2015-01-01 03:00:00+01:00
4        2015-01-01 04:00:00+01:00
                   ...
35059    2018-12-31 19:00:00+01:00
35060    2018-12-31 20:00:00+01:00
35061    2018-12-31 21:00:00+01:00
35062    2018-12-31 22:00:00+01:00
35063    2018-12-31 23:00:00+01:00
Name: time, Length: 35018, dtype: object

In [96]:
# Convert the column from string to datetime
df_energy['time'] = pd.to_datetime(df_energy['time'])

- We have taken care of all the missing and invalid datatypes and values.