In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

link - https://www.kaggle.com/datasets/nicholasjhana/energy-consumption-generation-prices-and-weather

# Load the data

In [2]:
# load the data
df_energy = pd.read_csv('data/energy_dataset.csv')
df_weather = pd.read_csv('data/weather_features.csv')

# Inspect the data

## df_energy

In [3]:
print(df_energy.head())

In [4]:
df_energy.shape

In [5]:
df_energy.info()

In [6]:
# time should be datetime not string
type(df_energy['time'][0])

- *'time'* should be changed to datetime, as it represents time.

## df_weather

In [7]:
print(df_weather.head())

- temp is measured in Kelvin.
- *rain_1h, rain_3h, snow_3h, clouds_all* seem to have all zero values.

In [8]:
df_weather.shape

In [9]:
df_weather.info()

- df_weather has no null values.

# Missing Values

## df_energy

In [10]:
df_energy.isnull().sum()

- All the records for *'generation hydro pumped storage aggregated'* & *'forecast wind offshore eday ahead'* contain null values. Therefore, the entire columns must be dropped.

In [11]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

- Almost all the rows, have 2 null columns.

## df_weather

In [12]:
df_weather.isnull().sum()

- No missing values in df_weather.

# Invalid Data

## df_energy

In [13]:
# get the unique values count for each column
for column in df_energy.columns:
    print(df_energy[column].value_counts())
    print('-'*20)

- Columns of *'generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 'generation geothermal', 'generation marine', 'generation wind offshore'* have all record values as zero.

In [14]:
# count the negative values for each numeric column
print((df_energy.select_dtypes(include='number') < 0).sum())

- No columns contain negative values.

## df_weather

In [15]:
# get the unique values count for each column
for column in df_weather.columns:
    print(df_weather[column].value_counts())
    print('-'*20)

- weather_id seems to match with weather_description.
- weather_icon represents the id of the display icon used.

In [16]:
# count the zero values for each numeric column
print((df_weather.select_dtypes(include='number') < 0).sum())

- no columns with negative values in df_weather.

In [17]:
print((df_weather.select_dtypes(include='number') == 0).sum()/df_weather.shape[0])

- almost all columns in rain_1h, rain_3h, snow_3h contain >89% zero values.
- clouds_all having zero value means clear sky. (not dropping for now)

# Data Preparation

## df_energy

In [18]:
# drop columns with all null values
columns_to_drop = ['generation hydro pumped storage aggregated', 'forecast wind offshore eday ahead']
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [19]:
df_energy.isnull().sum()

In [20]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

In [21]:
# drop columns with all zero values
columns_to_drop = ['generation fossil coal-derived gas', 'generation fossil oil shale', 'generation fossil peat', 
                   'generation geothermal', 'generation marine', 'generation wind offshore' ]
df_energy.drop(columns_to_drop, axis=1, inplace=True)

In [22]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

In [23]:
# remove the rows having null values
df_energy = df_energy.dropna()

In [24]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(df_energy.isnull().sum(axis=1).value_counts())

In [25]:
df_energy['time']

In [26]:
# Convert the column from string to datetime
df_energy['time'] = pd.to_datetime(df_energy['time'], utc=True) # datetime values that are explicitly in UTC

- We have taken care of all the missing and invalid datatypes and values.

## df_weather

In [27]:
# 1. drop the columns with almost all zero values and icon
df_weather.drop(['rain_1h', 'rain_3h', 'snow_3h', 'weather_icon'], axis=1, inplace=True)

In [28]:
# count the frequency of missing values in each row (i.e. how many columns are empty)
print(sum((df_weather.select_dtypes(include='number') == 0).sum(axis=1)==1))

# get the indices
indices = df_weather.index[(df_weather.select_dtypes(include='number') == 0).sum(axis=1)==1]
temp = df_weather.iloc[indices]
# count the zero values for each numeric column
print((temp.select_dtypes(include='number') == 0).sum())

In [29]:
df_weather.columns

In [30]:
for i in df_weather.columns:
    print(i,': ',type(df_weather[i][0]))

In [31]:
# 2. Convert the column from string to datetime
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'], utc=True)

In [32]:
# 3. trim the string values in city_name
print(df_weather['city_name'].value_counts())
df_weather['city_name'] = df_weather['city_name'].str.strip()
print(df_weather['city_name'].value_counts())

# Merge two datasets

In [33]:
df_energy.columns

In [34]:
df_weather.columns

In [35]:
df_weather['dt_iso']

In [36]:
# Find duplicate rows in the DataFrame
duplicates = df_weather.duplicated()
duplicate_rows = df_weather[duplicates]
duplicate_rows.shape

In [37]:
df_weather['city_name'].value_counts()

- df_energy and df_weather cannot be merged yet. There are many duplicates for every city in df_weather and we should drop them and see if their number of rows match.

In [38]:
df_weather.drop_duplicates(subset=['dt_iso', 'city_name'], keep='first', inplace=True)
df_weather['city_name'].value_counts()

In [39]:
df_weather.duplicated(subset=['dt_iso', 'city_name'], keep='first').sum()

- we have zero duplicates in df_weather

In [40]:
# join the two datasets on time and date_iso
merged_df = pd.merge(df_energy, df_weather, left_on='time', right_on='dt_iso', how='inner')

In [41]:
pd.set_option('display.max_columns', None) 
print(merged_df.head())

In [42]:
merged_df.info()

In [43]:
# drop duplicate dt_iso column
merged_df.drop(['dt_iso'], axis=1, inplace=True)

In [44]:
# save the dataframe as csv
merged_df.to_csv('data/df.csv', index=False)